@page
@{
    ViewData["Title"] = "SignalR ";
}
    <div class="container">
        <div class="row">
            <div class="col-md-6">                
                <div style="max-width: 500px;">
		            <div id="br_mine"></div>
	            </div>
            </div>
            <div class="col-md-6">                
                <ul id="statesList"></ul>
            </div>
        </div>        
    </div>
    <script src="https://nandomegaman.github.io/brmap/brmap.js"></script>
    <script src="~/lib/signalr/signalr.js"></script>    
    <script src="~/js/flow.js"></script>